:root {
  --bg: #adb5bd;
  --calbg: #495057;
  --buttoncolor: #e9ecef;
  --red: #f07979;
  --blue: #a2d2ff;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-color: var(--bg);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: var(--calbg);
  padding: 30px;
  border-radius: 15px;
  width: 500px;
}

.screen {
  background-color: var(--buttoncolor);
  margin-bottom: 10px;
  padding: 5px 10px 0px;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  font-style: oblique;
  font-weight: bold;
}

.screen {
  text-align: right;
  overflow: hidden;
}
.screen-history {
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}

.screen-output {
  height: 70px;
  font-size: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: var(--calbg);
  height: 500px;
}

.btn-clear {
  grid-column: 1/3;
  background-color: var(--red);
}

.btn-delete {
  grid-column: 3/5;
  background-color: var(--blue);
}

.btn {
  background-color: var(--buttoncolor);
}